{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    <div class="zotero-search">
        <form action="{{ form_action }}" method="get">
            <div class="formbody">
                <fieldset>
                    <div class="widget widget-text">
                        <label for="keywords">{{ label_keywords }}</label>
                        <input type="text" name="keywords" id="keywords" value="{{ keywords }}" placeholder="{{ label_keywords }}" class="text">
                    </div>
                    {% if show_author and authors|length > 0 %}
                        <div class="widget widget-select">
                            <label for="zotero_author">{{ label_author }}</label>
                            <select name="zotero_author" id="zotero_author">
                                <option value="">{{ label_author_all }}</option>
                                {% for author in authors %}
                                    <option value="{{ author.id }}"{% if zotero_author == (author.id ~ '') %} selected{% endif %}>{{ author.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if show_year %}
                        <div class="widget widget-text">
                            <label for="zotero_year_from">{{ label_year_from }}</label>
                            <input type="number" name="zotero_year_from" id="zotero_year_from" value="{{ zotero_year_from }}" min="1000" max="9999" placeholder="2020" class="text">
                        </div>
                        <div class="widget widget-text">
                            <label for="zotero_year_to">{{ label_year_to }}</label>
                            <input type="number" name="zotero_year_to" id="zotero_year_to" value="{{ zotero_year_to }}" min="1000" max="9999" placeholder="2024" class="text">
                        </div>
                    {% endif %}
                    {% if show_item_type and item_types|length > 0 %}
                        <div class="widget widget-select">
                            <label for="zotero_item_type">{{ label_item_type }}</label>
                            <select name="zotero_item_type" id="zotero_item_type">
                                <option value="">{{ label_item_type_all }}</option>
                                {% for key, label in item_types %}
                                    <option value="{{ key|e }}"{% if zotero_item_type == key %} selected{% endif %}>{{ label|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <div class="widget widget-submit">
                        <button type="submit" class="submit">{{ label_search }}</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
